* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #FAFAFA;
    padding: 30px;
}

.container {
    background: white;
    border: 1px solid #E8E8E8;
    box-sizing: content-box;
    padding: 0;
    margin: 0 auto;
    max-width: 560px;
}

div {
    text-align: center;
    padding: 60px 20px 60px 20px;
}

.img-circle {
    border-radius: 50%;
    height: 112px;
}

h1 {
    color: #5C6678;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding-top: 8px;
    margin: 0;
}

h2 {
    color: #8A95A8;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.33px;
    padding-top: 2px;
    margin: 0;
}

h3 {
    padding-top: 8px;
    margin: 0;
}

a {
    color: #BBC5D7;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;;
    -webkit-transition: .2s;
    transition: .2s;
}

a:hover {
    color: #5C6678;
}
